@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Baloo Cyrillic";
  src: url("../fonts/baloo-cyrillic1.ttf");
  font-weight: 400;
  font-style: normal;
}
html {
  color: #111111;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: url(../assets/background.jpg) top center repeat-x, linear-gradient(180deg, #435ba1 0%, #435ba1 1251px, #334aaa 100%) no-repeat;
  color: #111111;
}

* {
  font-family: "Rubik", sans-serif;
}

a {
  color: #111111;
  text-decoration: none;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo Cyrillic", sans-serif;
}

.h2 {
  margin: 0;
  color: #ffffff;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 984px) {
  .h2 {
    font-size: 36px;
    line-height: 111%;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.custom-select {
  position: relative;
  margin: 0;
  width: -moz-min-content;
  width: min-content;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 170px;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .custom-select .select-selected {
    gap: 8px;
    max-width: 130px;
    width: 100%;
    font-size: 14px;
  }
}
.custom-select .select-selected > span {
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .custom-select .select-selected > span {
    max-width: 115px;
  }
}
.custom-select .select-selected::after {
  content: "";
  display: none;
  height: 16px;
  width: 16px;
  background: none;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all ease-in-out 0.1s;
}
@media (max-width: 576px) {
  .custom-select .select-selected::after {
    height: 14px;
    width: 14px;
  }
}
.custom-select .select-selected.active {
  color: #111111;
}
.custom-select .select-selected.active::after {
  background: none;
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  max-height: 288px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  border-radius: var(--Spacing-12, 12px);
  background: var(--Colors-Alpha8, rgba(255, 255, 255, 0.07));
  backdrop-filter: blur(24px);
}
@media (max-width: 576px) {
  .custom-select .select-items {
    gap: 8px;
    min-width: none;
    padding: 12px 16px;
    font-size: 14px;
  }
}
.custom-select .select-items::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #cccccc;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}
.custom-select .select-items .same-as-selected {
  font-weight: 600;
}
.custom-select .select-items div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: pointer;
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.accordeon {
  padding: 24px 16px;
}
.accordeon__toggler {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.accordeon__toggler::after {
  content: "+";
}
.accordeon.active .accordeon__toggler::after {
  content: "-";
}
.accordeon__panel {
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height ease-in-out 0.2s;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 9px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(26, 40, 94, 0.75);
  box-shadow: 0px 4px 24px 0px rgba(17, 17, 17, 0.12);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
@media (max-width: 576px) {
  .header .container {
    gap: 15px;
  }
}
.header__burger {
  flex: 0 0 auto;
  display: none;
}
@media (max-width: 744px) {
  .header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header__burger-button {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: none;
  background: url(../assets/burger.svg) center no-repeat;
  outline: none;
  transition: transform ease-in-out 0.075s;
  will-change: transform;
  cursor: pointer;
}
.header__burger-button:hover {
  transform: scale(1.04);
}
.header__burger-button:active {
  transform: scale(1);
}
.header__logo {
  flex: 0 1 264px;
  display: flex;
  align-items: center;
}
@media (max-width: 984px) {
  .header__logo {
    flex: 0 0 auto;
  }
}
.header__logo-link {
  display: block;
  width: -moz-min-content;
  width: min-content;
}
.header__logo-image {
  display: block;
  width: 39px;
  height: auto;
}
.header__nav {
  display: block;
  box-sizing: border-box;
  overflow: auto;
}
@media (max-width: 744px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px;
    background: #334aab;
    transition: transform ease-in 0.2s;
    transform: translateX(-1000px);
    will-change: transform;
  }
}
@media (max-width: 744px) {
  .header__nav.active {
    transform: translateX(0px);
  }
}
.header__nav-top {
  display: none;
}
@media (max-width: 744px) {
  .header__nav-top {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 128px;
  }
}
@media (max-width: 576px) {
  .header__nav-top {
    height: 64px;
  }
}
.header__nav-links {
  display: flex;
  align-items: center;
  gap: 68px;
}
@media (max-width: 984px) {
  .header__nav-links {
    gap: 48px;
  }
}
@media (max-width: 744px) {
  .header__nav-links {
    flex-direction: column;
    margin-bottom: 128px;
  }
}
.header__nav-buttons {
  display: none;
}
@media (max-width: 744px) {
  .header__nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header__nav-link {
  display: inline-block;
  color: #ffffff;
  font-family: "Baloo Cyrillic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__controls {
  flex: 0 1 264px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
@media (max-width: 744px) {
  .header__controls {
    flex: 1 1 auto;
  }
}
@media (max-width: 464px) {
  .header__controls .custom-select {
    display: none;
  }
}
.header .custom-select .select-selected {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.07);
  background-image: url(../assets/globe.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.header .custom-select .select-selected > span {
  display: none;
}
.header__button {
  display: block;
  width: 143px;
  height: 45px;
  border: none;
  background: url(../assets/header-button.svg) center no-repeat;
  outline: none;
  transition: transform ease-in-out 0.075s;
  will-change: transform;
  cursor: pointer;
}
.header__button:hover {
  transform: scale(1.04);
}
.header__button:active {
  transform: scale(1);
}
.header__close {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 16px;
  border: none;
  background: url(../assets/close.svg) center no-repeat;
  background-size: 16px;
  outline: none;
  transition: transform ease-in-out 0.075s;
  will-change: transform;
  cursor: pointer;
}
.header__close:hover {
  transform: scale(1.04);
}
.header__close:active {
  transform: scale(1);
}

.footer {
  padding: 24px 0;
  border-top: 1px solid #6475bf;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
}
@media (max-width: 576px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 984px) {
  .footer__logo {
    flex: 0 0 auto;
  }
}
.footer__logo-link {
  display: flex;
  align-items: center;
  gap: 18px;
}
@media (max-width: 576px) {
  .footer__logo-link {
    flex-direction: column;
  }
}
.footer__logo-link span {
  color: #ffffff;
  font-family: "Baloo Cyrillic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.footer__logo-image {
  display: block;
  width: 39px;
  height: auto;
}
.footer__copyrights {
  color: #9b95bf;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}

.elementails {
  height: 672px;
  overflow: hidden;
}
@media (max-width: 1248px) {
  .elementails {
    height: 529px;
  }
}
@media (max-width: 744px) {
  .elementails {
    height: 844px;
  }
}
@media (max-width: 464px) {
  .elementails {
    height: 650px;
  }
}
.elementails .container {
  position: relative;
  z-index: 1;
  height: 100%;
  padding-top: 145px;
  box-sizing: border-box;
}
@media (max-width: 1248px) {
  .elementails .container {
    padding-top: 106px;
  }
}
@media (max-width: 576px) {
  .elementails .container {
    padding-top: 70px;
  }
}
.elementails__title {
  margin: 0 0 16px;
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 744px) {
  .elementails__title {
    font-size: 56px;
  }
}
@media (max-width: 464px) {
  .elementails__title {
    font-size: 32px;
  }
}
.elementails__description {
  max-width: 566px;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}
@media (max-width: 1248px) {
  .elementails__description {
    max-width: 456px;
  }
}
@media (max-width: 744px) {
  .elementails__description {
    max-width: 343px;
  }
}
@media (max-width: 464px) {
  .elementails__description {
    font-size: 15px;
  }
}
.elementails__image {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
}
.elementails__image_energy {
  left: -120px;
  bottom: 79px;
  max-width: 203px;
}
@media (max-width: 1248px) {
  .elementails__image_energy {
    left: -28px;
    bottom: 13px;
    max-width: 153px;
  }
}
@media (max-width: 984px) {
  .elementails__image_energy {
    max-width: 145px;
  }
}
@media (max-width: 744px) {
  .elementails__image_energy {
    left: 14px;
    bottom: 328px;
  }
}
@media (max-width: 464px) {
  .elementails__image_energy {
    left: -12px;
    bottom: 212px;
    max-width: 93px;
  }
}
.elementails__image_air {
  left: 130px;
  bottom: 62px;
  max-width: 383px;
}
@media (max-width: 1248px) {
  .elementails__image_air {
    left: 207px;
    bottom: 35px;
    max-width: 255px;
  }
}
@media (max-width: 984px) {
  .elementails__image_air {
    left: 164px;
    bottom: 38px;
    max-width: 268px;
  }
}
@media (max-width: 744px) {
  .elementails__image_air {
    left: auto;
    right: 0;
    bottom: 353px;
  }
}
@media (max-width: 464px) {
  .elementails__image_air {
    right: 30px;
    bottom: 256px;
    max-width: 182px;
  }
}
.elementails__image_fire {
  right: 160px;
  bottom: 140px;
  max-width: 464px;
}
@media (max-width: 1248px) {
  .elementails__image_fire {
    right: 186px;
    bottom: 182px;
    max-width: 294px;
  }
}
@media (max-width: 984px) {
  .elementails__image_fire {
    right: 0px;
    bottom: 194px;
    max-width: 264px;
  }
}
@media (max-width: 744px) {
  .elementails__image_fire {
    right: auto;
    left: 24px;
    bottom: 58px;
    max-width: 305px;
  }
}
@media (max-width: 464px) {
  .elementails__image_fire {
    left: 5px;
    bottom: 22px;
    max-width: 215px;
  }
}
.elementails__image_earth {
  right: -120px;
  bottom: 428px;
  max-width: 353px;
}
@media (max-width: 1248px) {
  .elementails__image_earth {
    right: 0px;
    bottom: 382px;
    max-width: 206px;
  }
}
@media (max-width: 984px) {
  .elementails__image_earth {
    right: 0px;
    bottom: 435px;
    max-width: 134px;
  }
}
@media (max-width: 744px) {
  .elementails__image_earth {
    right: -18px;
    bottom: 237px;
    max-width: 154px;
  }
}
@media (max-width: 464px) {
  .elementails__image_earth {
    right: 0;
    bottom: 157px;
    max-width: 128px;
  }
}
.elementails__image_water {
  right: -120px;
  bottom: 98px;
  max-width: 266px;
}
@media (max-width: 1248px) {
  .elementails__image_water {
    right: 0;
    bottom: 0;
    max-width: 174px;
  }
}
@media (max-width: 984px) {
  .elementails__image_water {
    right: 0;
    bottom: 25px;
    max-width: 149px;
  }
}
@media (max-width: 744px) {
  .elementails__image_water {
    right: -27px;
    bottom: 69px;
  }
}
@media (max-width: 464px) {
  .elementails__image_water {
    right: 4px;
    bottom: 28px;
    max-width: 105px;
  }
}

.five-elements {
  padding: 36px 0 48px;
}
.five-elements__title {
  margin: 0;
}
@media (max-width: 744px) {
  .five-elements__title {
    margin: 0 0 12px;
  }
}
.five-elements__description {
  margin: 0 0 32px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  text-align: center;
}
@media (max-width: 464px) {
  .five-elements__description {
    font-size: 15px;
  }
}
.five-elements__slider .swiper-slide img {
  display: block;
  max-width: 100%;
  width: 202px;
  height: auto;
}
@media (max-width: 744px) {
  .five-elements__slider .swiper-slide img {
    width: 189px;
  }
}

.roadmap {
  padding: 64px 0;
}
@media (max-width: 744px) {
  .roadmap {
    padding: 48px 0 64px;
  }
}
.roadmap__title {
  margin: 0 0 24px;
}
.roadmap__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  margin: 0 0 64px;
  padding-bottom: 18px;
  overflow: auto;
}
@media (max-width: 984px) {
  .roadmap__nav {
    justify-content: flex-start;
    margin: 0 0 24px;
  }
}
@media (max-width: 464px) {
  .roadmap__nav {
    gap: 32px;
  }
}
.roadmap__nav-button {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  color: #ffffff;
  font-family: "Baloo Cyrillic";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.roadmap__nav-button.active::before {
  content: "";
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
}
.roadmap__nav-button.disabled {
  opacity: 0.3;
}
.roadmap__nav-button.disabled::after {
  content: "";
  height: 22px;
  width: 22px;
  background: url(../assets/lock.svg) center no-repeat;
  background-size: 16px;
}
.roadmap__stage-one {
  position: relative;
}
.roadmap__stage-one-slide {
  display: flex;
  gap: 48px;
}
@media (max-width: 1248px) {
  .roadmap__stage-one-slide {
    gap: 32px;
  }
}
@media (max-width: 984px) {
  .roadmap__stage-one-slide {
    align-items: center;
  }
}
@media (max-width: 744px) {
  .roadmap__stage-one-slide {
    display: block;
  }
}
.roadmap__stage-one-slide-figure {
  flex: 0 0 472px;
}
@media (max-width: 1248px) {
  .roadmap__stage-one-slide-figure {
    flex: 0 0 380px;
  }
}
@media (max-width: 984px) {
  .roadmap__stage-one-slide-figure {
    flex: 0 0 320px;
  }
}
@media (max-width: 744px) {
  .roadmap__stage-one-slide-figure {
    display: flex;
    justify-content: center;
    margin: 0 0 52px;
  }
}
.roadmap__stage-one-slide-figure img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 744px) {
  .roadmap__stage-one-slide-figure img {
    height: 450px;
  }
}
@media (max-width: 464px) {
  .roadmap__stage-one-slide-figure img {
    height: 300px;
  }
}
.roadmap__stage-one-slide-content {
  padding: 24px 0;
  padding-right: 56px;
}
@media (max-width: 1248px) {
  .roadmap__stage-one-slide-content {
    padding-right: 24px;
  }
}
@media (max-width: 744px) {
  .roadmap__stage-one-slide-content {
    padding-right: 0;
  }
}
.roadmap__stage-one-slide-title {
  margin: 0 0 16px;
  color: #ffffff;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}
@media (max-width: 984px) {
  .roadmap__stage-one-slide-title {
    font-size: 28px;
  }
}
.roadmap__stage-one-slide-text {
  margin: 0 0 24px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}
@media (max-width: 464px) {
  .roadmap__stage-one-slide-text {
    font-size: 15px;
  }
}
.roadmap__stage-one-slide-text:last-child {
  margin-bottom: 0;
}
.roadmap__stage-one-controls {
  position: absolute;
  bottom: 24px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 984px) {
  .roadmap__stage-one-controls {
    position: static;
    margin-top: 48px;
  }
}
@media (max-width: 464px) {
  .roadmap__stage-one-controls {
    justify-content: space-between;
  }
}
.roadmap__stage-one .swiper-button-next, .roadmap__stage-one .swiper-button-prev {
  position: static;
  width: 80px;
  height: 56px;
  background: url(../assets/arrow-next.png) center no-repeat;
  transform: none;
}
.roadmap__stage-one .swiper-button-next:after, .roadmap__stage-one .swiper-button-prev:after {
  display: none;
}
.roadmap__stage-one .swiper-button-prev {
  transform: rotate(180deg);
}
.roadmap__stage-one .swiper-pagination {
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: auto !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  width: 4px !important;
}
@media (max-width: 744px) {
  .roadmap__stage-one .swiper-pagination {
    top: 476px !important;
    flex-direction: row;
    height: 4px;
    width: 100% !important;
  }
}
@media (max-width: 464px) {
  .roadmap__stage-one .swiper-pagination {
    top: 326px !important;
  }
}
.roadmap__stage-one .swiper-pagination-bullet {
  display: block;
  width: 4px;
  height: 62px;
  margin: 0 !important;
  border-radius: 8px;
  background-color: #ffffff;
}
@media (max-width: 744px) {
  .roadmap__stage-one .swiper-pagination-bullet {
    max-width: 62px;
    width: 100%;
    height: 4px;
  }
}

.faq {
  padding: 64px 0;
}
@media (max-width: 744px) {
  .faq {
    padding: 48px 0 64px;
  }
}
.faq__title {
  margin: 0 0 24px;
}
.faq__accordeon {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 464px) {
  .faq__accordeon {
    padding: 24px 0;
  }
}
.faq__accordeon:last-child {
  border: none;
}
.faq__accordeon-toggler {
  display: flex;
  justify-content: start;
  gap: 40px;
}
@media (max-width: 744px) {
  .faq__accordeon-toggler {
    gap: 12px;
  }
}
.faq__accordeon-toggler-id {
  flex: 0 0 52px;
  color: #09d874;
  font-family: "Baloo Cyrillic";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 744px) {
  .faq__accordeon-toggler-id {
    font-size: 32px;
  }
}
.faq__accordeon-toggler-question {
  flex: 1 1 auto;
  color: #fff;
  font-family: "Baloo Cyrillic";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 984px) {
  .faq__accordeon-toggler-question {
    font-size: 20px;
  }
}
@media (max-width: 464px) {
  .faq__accordeon-toggler-question {
    font-size: 16px;
  }
}
.faq__accordeon-toggler::after {
  flex: 0 0 auto;
  display: inline-block;
  width: 20px;
  color: #fff;
  font-family: "Baloo Cyrillic";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}
.faq__accordeon-panel-text {
  padding: 24px 60px 0 92px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}
@media (max-width: 984px) {
  .faq__accordeon-panel-text {
    font-size: 15px;
    line-height: 140%;
  }
}
@media (max-width: 744px) {
  .faq__accordeon-panel-text {
    padding: 24px 40px 0 64px;
  }
}

.contacts {
  padding: 48px 0;
}
@media (max-width: 1248px) {
  .contacts {
    padding: 0 0 80px;
  }
}
.contacts__content {
  max-width: 784px;
  margin: 0 auto;
  padding: 64px;
  box-sizing: border-box;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.07);
}
@media (max-width: 1248px) {
  .contacts__content {
    padding: 64px 60px;
  }
}
@media (max-width: 984px) {
  .contacts__content {
    padding: 64px 45px;
  }
}
@media (max-width: 744px) {
  .contacts__content {
    padding: 64px 24px;
  }
}
.contacts__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 40px;
}
.contacts__icon img {
  display: block;
  max-width: 100%;
  width: 72px;
  height: auto;
}
.contacts__title {
  margin: 0 0 24px;
  color: #ffffff;
  font-family: "Baloo Cyrillic";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.contacts__description {
  margin: 0 0 40px;
  color: #ffffff;
  font-family: "Baloo Cyrillic";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 464px) {
  .contacts__description {
    font-size: 15px;
    line-height: 140%;
  }
}
.contacts__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 576px) {
  .contacts__links {
    flex-direction: column;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 218px;
  padding: 11px 23px;
  box-sizing: border-box;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 2px solid #ffffff;
  border-radius: 50px;
  transition: all ease-in-out 0.15s;
}
.contacts__link::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.contacts__link_channel {
  color: #334aab;
  background-color: #ffffff;
}
.contacts__link_channel:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.contacts__link_channel::after {
  background-image: url(../assets/arrow-right.svg);
}
.contacts__link_chat {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
}
.contacts__link_chat:hover {
  border-color: white;
}
.contacts__link_chat::after {
  background-image: url(../assets/arrow-up-right.svg);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(69, 86, 160, 0.42) 0%, rgba(69, 86, 160, 0.42) 100%);
  backdrop-filter: blur(62px);
}
.modal.active {
  display: flex;
}
.modal::before, .modal:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
}
.modal::before {
  top: 173px;
  left: 0;
  width: 488px;
  height: 187px;
  background: url(../assets/foxes/air.png) center no-repeat;
  background-size: cover;
}
@media (max-width: 1248px) {
  .modal::before {
    top: 103px;
    width: 357px;
    height: 137px;
  }
}
@media (max-width: 464px) {
  .modal::before {
    top: 15px;
    width: 193px;
    height: 70px;
  }
}
.modal:after {
  right: 0;
  bottom: 60px;
  width: 384px;
  height: 325px;
  background: url(../assets/foxes/water.png) center no-repeat;
  background-size: cover;
}
@media (max-width: 1248px) {
  .modal:after {
    width: 276px;
    height: 233px;
  }
}
@media (max-width: 464px) {
  .modal:after {
    bottom: 15px;
    width: 127px;
    height: 107px;
  }
}
.modal__content {
  position: relative;
  z-index: 10;
}

.modal-stage__body {
  display: flex;
  flex-direction: column;
  gap: 216px;
  max-width: calc(100vw - 48px);
  min-height: 490px;
  width: 344px;
  padding: 16px 24px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  background-image: url(../assets/popup-bg.jpg);
  background-position: top -2px center;
  background-repeat: no-repeat;
  background-color: #232e52;
}
.modal-stage__title {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.modal-stage__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-stage__description {
  margin: 0;
  color: #9b95bf;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.modal-stage__message {
  display: flex;
  gap: 11px;
  padding: 12px;
  color: #09d874;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-shadow: 0px 0px 8px rgba(9, 216, 116, 0.64);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background: #232e52;
}
.modal-stage__message::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(../assets/green-star.svg) center no-repeat;
  background-size: 20px;
  filter: drop-shadow(0px 0px 8px rgba(9, 216, 116, 0.64));
}
.modal-stage__button {
  display: inline-block;
  padding: 10px 24px;
  color: #ffffff;
  font-family: "Baloo Cyrillic";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 20px;
  background-color: #0597f2;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}
.modal-stage__button:hover {
  background-color: #19a7f9;
}
.modal-stage__button:active {
  background-color: #028cd1;
}