@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Baloo Cyrillic";
  src: url("../fonts/baloo-cyrillic1.ttf");
  font-weight: 400;
  font-style: normal;
}
html {
  color: #111111;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: url(../assets/background.jpg) top center repeat-x, linear-gradient(180deg, #435ba1 0%, #435ba1 1251px, #334aaa 100%) no-repeat;
  color: #111111;
}

* {
  font-family: "Rubik", sans-serif;
}

a {
  color: #111111;
  text-decoration: none;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo Cyrillic", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.custom-select {
  position: relative;
  margin: 0;
  width: -moz-min-content;
  width: min-content;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 170px;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .custom-select .select-selected {
    gap: 8px;
    max-width: 130px;
    width: 100%;
    font-size: 14px;
  }
}
.custom-select .select-selected > span {
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .custom-select .select-selected > span {
    max-width: 115px;
  }
}
.custom-select .select-selected::after {
  content: "";
  display: none;
  height: 16px;
  width: 16px;
  background: none;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all ease-in-out 0.1s;
}
@media (max-width: 576px) {
  .custom-select .select-selected::after {
    height: 14px;
    width: 14px;
  }
}
.custom-select .select-selected.active {
  color: #111111;
}
.custom-select .select-selected.active::after {
  background: none;
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  max-height: 288px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  border-radius: var(--Spacing-12, 12px);
  background: var(--Colors-Alpha8, rgba(255, 255, 255, 0.07));
  backdrop-filter: blur(24px);
}
@media (max-width: 576px) {
  .custom-select .select-items {
    gap: 8px;
    min-width: none;
    padding: 12px 16px;
    font-size: 14px;
  }
}
.custom-select .select-items::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #cccccc;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}
.custom-select .select-items .same-as-selected {
  font-weight: 600;
}
.custom-select .select-items div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: pointer;
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 9px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(26, 40, 94, 0.75);
  box-shadow: 0px 4px 24px 0px rgba(17, 17, 17, 0.12);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
@media (max-width: 576px) {
  .header .container {
    gap: 15px;
  }
}
.header__burger {
  flex: 0 0 auto;
  display: none;
}
@media (max-width: 744px) {
  .header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header__burger-button {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: none;
  background: url(../assets/burger.svg) center no-repeat;
  outline: none;
  transition: transform ease-in-out 0.075s;
  will-change: transform;
  cursor: pointer;
}
.header__burger-button:hover {
  transform: scale(1.04);
}
.header__burger-button:active {
  transform: scale(1);
}
.header__logo {
  flex: 0 1 264px;
  display: flex;
  align-items: center;
}
@media (max-width: 984px) {
  .header__logo {
    flex: 0 0 auto;
  }
}
.header__logo-link {
  display: block;
  width: -moz-min-content;
  width: min-content;
}
.header__logo-image {
  display: block;
  width: 39px;
  height: auto;
}
.header__nav {
  display: block;
  box-sizing: border-box;
  overflow: auto;
}
@media (max-width: 744px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px;
    background: #334aab;
    transition: transform ease-in 0.2s;
    transform: translateX(-1000px);
    will-change: transform;
  }
}
@media (max-width: 744px) {
  .header__nav.active {
    transform: translateX(0px);
  }
}
.header__nav-top {
  display: none;
}
@media (max-width: 744px) {
  .header__nav-top {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 128px;
  }
}
@media (max-width: 576px) {
  .header__nav-top {
    height: 64px;
  }
}
.header__nav-links {
  display: flex;
  align-items: center;
  gap: 68px;
}
@media (max-width: 984px) {
  .header__nav-links {
    gap: 48px;
  }
}
@media (max-width: 744px) {
  .header__nav-links {
    flex-direction: column;
    margin-bottom: 128px;
  }
}
.header__nav-buttons {
  display: none;
}
@media (max-width: 744px) {
  .header__nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header__nav-link {
  display: inline-block;
  color: #ffffff;
  font-family: "Baloo Cyrillic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__controls {
  flex: 0 1 264px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
@media (max-width: 744px) {
  .header__controls {
    flex: 1 1 auto;
  }
}
@media (max-width: 464px) {
  .header__controls .custom-select {
    display: none;
  }
}
.header .custom-select .select-selected {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.07);
  background-image: url(../assets/globe.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.header .custom-select .select-selected > span {
  display: none;
}
.header__button {
  display: block;
  width: 143px;
  height: 45px;
  border: none;
  background: url(../assets/header-button.svg) center no-repeat;
  outline: none;
  transition: transform ease-in-out 0.075s;
  will-change: transform;
  cursor: pointer;
}
.header__button:hover {
  transform: scale(1.04);
}
.header__button:active {
  transform: scale(1);
}
.header__close {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 16px;
  border: none;
  background: url(../assets/close.svg) center no-repeat;
  background-size: 16px;
  outline: none;
  transition: transform ease-in-out 0.075s;
  will-change: transform;
  cursor: pointer;
}
.header__close:hover {
  transform: scale(1.04);
}
.header__close:active {
  transform: scale(1);
}

.footer {
  padding: 24px 0;
  border-top: 1px solid #6475bf;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
}
@media (max-width: 576px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 984px) {
  .footer__logo {
    flex: 0 0 auto;
  }
}
.footer__logo-link {
  display: flex;
  align-items: center;
  gap: 18px;
}
@media (max-width: 576px) {
  .footer__logo-link {
    flex-direction: column;
  }
}
.footer__logo-link span {
  color: #ffffff;
  font-family: "Baloo Cyrillic";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.footer__logo-image {
  display: block;
  width: 39px;
  height: auto;
}
.footer__copyrights {
  color: #9b95bf;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}

.elementails {
  height: 672px;
  overflow: hidden;
}
@media (max-width: 1248px) {
  .elementails {
    height: 529px;
  }
}
@media (max-width: 744px) {
  .elementails {
    height: 844px;
  }
}
@media (max-width: 464px) {
  .elementails {
    height: 650px;
  }
}
.elementails .container {
  position: relative;
  z-index: 1;
  height: 100%;
  padding-top: 145px;
  box-sizing: border-box;
}
@media (max-width: 1248px) {
  .elementails .container {
    padding-top: 106px;
  }
}
@media (max-width: 576px) {
  .elementails .container {
    padding-top: 70px;
  }
}
.elementails__title {
  margin: 0 0 16px;
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 744px) {
  .elementails__title {
    font-size: 56px;
  }
}
@media (max-width: 464px) {
  .elementails__title {
    font-size: 32px;
  }
}
.elementails__description {
  max-width: 566px;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}
@media (max-width: 1248px) {
  .elementails__description {
    max-width: 456px;
  }
}
@media (max-width: 744px) {
  .elementails__description {
    max-width: 343px;
  }
}
@media (max-width: 464px) {
  .elementails__description {
    font-size: 15px;
  }
}
.elementails__image {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
}
.elementails__image_energy {
  left: -120px;
  bottom: 79px;
  max-width: 203px;
}
@media (max-width: 1248px) {
  .elementails__image_energy {
    left: -28px;
    bottom: 13px;
    max-width: 153px;
  }
}
@media (max-width: 984px) {
  .elementails__image_energy {
    max-width: 145px;
  }
}
@media (max-width: 744px) {
  .elementails__image_energy {
    left: 14px;
    bottom: 328px;
  }
}
@media (max-width: 464px) {
  .elementails__image_energy {
    left: -12px;
    bottom: 212px;
    max-width: 93px;
  }
}
.elementails__image_air {
  left: 130px;
  bottom: 62px;
  max-width: 383px;
}
@media (max-width: 1248px) {
  .elementails__image_air {
    left: 207px;
    bottom: 35px;
    max-width: 255px;
  }
}
@media (max-width: 984px) {
  .elementails__image_air {
    left: 164px;
    bottom: 38px;
    max-width: 268px;
  }
}
@media (max-width: 744px) {
  .elementails__image_air {
    left: auto;
    right: 0;
    bottom: 353px;
  }
}
@media (max-width: 464px) {
  .elementails__image_air {
    right: 30px;
    bottom: 256px;
    max-width: 182px;
  }
}
.elementails__image_fire {
  right: 160px;
  bottom: 140px;
  max-width: 464px;
}
@media (max-width: 1248px) {
  .elementails__image_fire {
    right: 186px;
    bottom: 182px;
    max-width: 294px;
  }
}
@media (max-width: 984px) {
  .elementails__image_fire {
    right: 0px;
    bottom: 194px;
    max-width: 264px;
  }
}
@media (max-width: 744px) {
  .elementails__image_fire {
    right: auto;
    left: 24px;
    bottom: 58px;
    max-width: 305px;
  }
}
@media (max-width: 464px) {
  .elementails__image_fire {
    left: 5px;
    bottom: 22px;
    max-width: 215px;
  }
}
.elementails__image_earth {
  right: -120px;
  bottom: 428px;
  max-width: 353px;
}
@media (max-width: 1248px) {
  .elementails__image_earth {
    right: 0px;
    bottom: 382px;
    max-width: 206px;
  }
}
@media (max-width: 984px) {
  .elementails__image_earth {
    right: 0px;
    bottom: 435px;
    max-width: 134px;
  }
}
@media (max-width: 744px) {
  .elementails__image_earth {
    right: -18px;
    bottom: 237px;
    max-width: 154px;
  }
}
@media (max-width: 464px) {
  .elementails__image_earth {
    right: 0;
    bottom: 157px;
    max-width: 128px;
  }
}
.elementails__image_water {
  right: -120px;
  bottom: 98px;
  max-width: 266px;
}
@media (max-width: 1248px) {
  .elementails__image_water {
    right: 0;
    bottom: 0;
    max-width: 174px;
  }
}
@media (max-width: 984px) {
  .elementails__image_water {
    right: 0;
    bottom: 25px;
    max-width: 149px;
  }
}
@media (max-width: 744px) {
  .elementails__image_water {
    right: -27px;
    bottom: 69px;
  }
}
@media (max-width: 464px) {
  .elementails__image_water {
    right: 4px;
    bottom: 28px;
    max-width: 105px;
  }
}