.five-elements {
  padding: 36px 0 48px;

  &__title {
    margin: 0;

    @include tablet {
      margin: 0 0 12px;
    }
  }

  &__description {
    margin: 0 0 32px;
    color: $white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    text-align: center;

    @include mobilesm {
      font-size: 15px;
    }
  }

  &__slider {
    & .swiper {
      &-slide {
        & img {
          display: block;
          max-width: 100%;
          width: 202px;
          height: auto;

          @include tablet {
            width: 189px;
          }
        }
      }
    }
  }
}
