.modal-stage {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 216px;
    max-width: calc(100vw - 48px);
    min-height: 490px;
    width: 344px;
    padding: 16px 24px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    background-image: url(../assets/popup-bg.jpg);
    background-position: top -2px center;
    background-repeat: no-repeat;
    background-color: #232e52;
  }

  &__title {
    margin: 0;
    color: $white;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__description {
    margin: 0;
    color: #9b95bf;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__message {
    display: flex;
    gap: 11px;
    padding: 12px;
    color: #09d874;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-shadow: 0px 0px 8px rgba(9, 216, 116, 0.64);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background: #232e52;

    &::before {
      content: "";
      flex: 0 0 auto;
      display: inline-block;
      height: 20px;
      width: 20px;
      background: url(../assets/green-star.svg) center no-repeat;
      background-size: 20px;
      filter: drop-shadow(0px 0px 8px rgba(9, 216, 116, 0.64));
    }
  }

  &__button {
    display: inline-block;
    padding: 10px 24px;
    color: $white;
    font-family: "Baloo Cyrillic";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 20px;
    background-color: #0597f2;
    transition: $baseTransition;
    cursor: pointer;

    &:hover {
      background-color: #19a7f9;
    }

    &:active {
      background-color: #028cd1;
    }
  }
}
