.roadmap {
  padding: 64px 0;

  @include tablet {
    padding: 48px 0 64px;
  }

  &__title {
    margin: 0 0 24px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin: 0 0 64px;
    padding-bottom: 18px;
    overflow: auto;

    @include laptop {
      justify-content: flex-start;
      margin: 0 0 24px;
    }

    @include mobilesm {
      gap: 32px;
    }

    &-button {
      flex: 0 0 auto;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0;
      color: $white;
      font-family: "Baloo Cyrillic";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      white-space: nowrap;
      border: none;
      background-color: rgba($color: $white, $alpha: 0);
      cursor: pointer;

      &.active {
        &::before {
          content: "";
          position: absolute;
          top: calc(100% + 6px);
          left: 0;
          right: 0;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background-color: $white;
        }
      }

      &.disabled {
        opacity: 0.3;

        &::after {
          content: "";
          height: 22px;
          width: 22px;
          background: url(../assets/lock.svg) center no-repeat;
          background-size: 16px;
        }
      }
    }
  }

  &__stage-one {
    position: relative;

    &-slide {
      display: flex;
      gap: 48px;

      @include desktop {
        gap: 32px;
      }

      @include laptop {
        align-items: center;
      }

      @include tablet {
        display: block;
      }

      &-figure {
        flex: 0 0 472px;

        @include desktop {
          flex: 0 0 380px;
        }

        @include laptop {
          flex: 0 0 320px;
        }

        @include tablet {
          display: flex;
          justify-content: center;
          margin: 0 0 52px;
        }

        & img {
          display: block;
          max-width: 100%;
          height: auto;
          object-fit: cover;

          @include tablet {
            height: 450px;
          }

          @include mobilesm {
            height: 300px;
          }
        }
      }

      &-content {
        padding: 24px 0;
        padding-right: 56px;

        @include desktop {
          padding-right: 24px;
        }

        @include tablet {
          padding-right: 0;
        }
      }

      &-title {
        margin: 0 0 16px;
        color: $white;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;

        @include laptop {
          font-size: 28px;
        }
      }

      &-text {
        margin: 0 0 24px;
        color: $white;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;

        @include mobilesm {
          font-size: 15px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-controls {
      position: absolute;
      bottom: 24px;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;

      @include laptop {
        position: static;
        margin-top: 48px;
      }

      @include tablet {
      }

      @include mobilesm {
        justify-content: space-between;
      }
    }

    & .swiper {
      &-button-next,
      &-button-prev {
        position: static;
        width: 80px;
        height: 56px;
        background: url(../assets/arrow-next.png) center no-repeat;
        transform: none;

        &:after {
          display: none;
        }
      }

      &-button-prev {
        transform: rotate(180deg);
      }

      &-pagination {
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        left: auto !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        width: 4px !important;

        @include tablet {
          top: 476px !important;
          flex-direction: row;
          height: 4px;
          width: 100% !important;
        }

        @include mobilesm {
          top: 326px !important;
        }

        &-bullet {
          display: block;
          width: 4px;
          height: 62px;
          margin: 0 !important;
          border-radius: 8px;
          background-color: $white;

          @include tablet {
            max-width: 62px;
            width: 100%;
            height: 4px;
          }
        }
      }
    }
  }
}
