.custom-select {
  position: relative;
  margin: 0;
  width: min-content;
  border: none;

  & select {
    display: none;
  }

  & .select-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 170px;
    padding: 0;
    box-sizing: border-box;
    color: $white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    user-select: none;
    cursor: pointer;

    @include mobile {
      gap: 8px;
      max-width: 130px;
      width: 100%;
      font-size: 14px;
    }

    & > span {
      display: inline-block;
      max-width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mobile {
        max-width: 115px;
      }
    }

    &::after {
      content: "";
      display: none;
      height: 16px;
      width: 16px;
      background: none;
      background-position: right;
      background-repeat: no-repeat;
      background-size: 100%;
      transition: all ease-in-out 0.1s;

      @include mobile {
        height: 14px;
        width: 14px;
      }
    }

    &.active {
      color: $black;
    }

    &.active::after {
      background: none;
      transform: rotate(180deg);
    }
  }

  & .select-hide {
    display: none !important;
  }

  & .select-items {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    max-height: 288px;
    min-width: max-content;
    overflow-y: auto;
    color: $white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    border-radius: var(--Spacing-12, 12px);
    background: var(--Colors-Alpha8, rgba(255, 255, 255, 0.07));
    backdrop-filter: blur(24px);

    @include mobile {
      gap: 8px;
      min-width: none;
      padding: 12px 16px;
      font-size: 14px;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
      background-color: $gray;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $gray;
    }

    & .same-as-selected {
      font-weight: 600;
    }

    & div {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px 12px;
      user-select: none;
      cursor: pointer;
    }
  }

  & .select-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
  }
}
